/* Universal Styles */

html {
  font-size: 18px;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: bolder;
}

/*Header*/

header {
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  position: fixed;
  background-color: lightgrey;
  z-index: 1;
  top: 0px;
}

.logo {
  display: flex;
  height: 32px;
  font-size: 24px;
  align-items: center;
  padding-left: 24px;
}

#colmar {
  color: black;
  font-weight: bold;
}

#academy {
  color: grey;
  font-weight: 500;
}

.nav {
  display: flex;
  padding-right: 24px;
}

.nav li {
  display: inline-block;
  padding-left: 16px;
}

/*Banner section*/

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  width: 100%;
  background-color: lightblue;
}

.bannertext {
  border: 2px solid black;
  width: 40%;
  display: block;
}


.bannertext h1 {
  padding-bottom: 1.5rem;
}

.bannertext h3 {
  padding-bottom: 1.5rem;
}

#button {
  background-color: darkgrey;
  text-align: center;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  width: 80%;
}

/*Second section*/

.second {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  justify-content: center;
  width: 100%;
}

.left {
  width: 60%;
  border: 2px solid blue;
  padding: 32px 24px 32px 24px;
}

.left img {
  width: 100%;
}

.left h1 {
  padding-bottom: 24px;
  padding-top: 32px;
}

.left span {
  padding-bottom: 32px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.square {
  display: flex;
  border: 2px dotted pink;
  align-items: center;
}

.square img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.info {
  display: block;
  width: 65%;
  align-items: center;
}

/*Third section*/

.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  width: 100%;
  padding-top: 32px;
  background-color: lightgreen;
}

.courseinfo {
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid blue;
  width: auto;
  justify-content: center;
}

.course {
  width: 25%;
  border: 2px dotted pink;
  margin: 32px 16px 0px 16px;
  background-color: white;
}

.course img {
  width: 100%;
  height: auto;
}
