/* Universal Styles */

html {
  font-size: 18px;
  font-family: sans-serif;
}

/*Header*/

header {
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  position: fixed;
  background-color: lightgrey;
  z-index: 1;
  top: 0px;
}

.logo {
  display: flex;
  height: 32px;
  font-size: 24px;
  align-items: center;
  padding-left: 24px;
}

#colmar {
  color: black;
  font-weight: bold;
}

#academy {
  color: grey;
  font-weight: 500;
}

.nav {
  display: flex;
  padding-right: 24px;
}

.nav li {
  display: inline-block;
  padding-left: 16px;
}

/*Banner section*/

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  width: 100%;
  background-color: lightblue;
}

.banner img {
  width: 60%;
  padding: 32px 24px;
}

.bannertext {
  border: 2px solid black;
}

#button {
  background-color: darkgrey;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
}

/*Second section*/

.second {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  justify-content: center;
  width: 100%;
}

.left {
  width: 60%;
  border: 2px solid blue;
  padding: 32px 24px 32px 24px;
}

.left img {
  width: 100%;
}

.left h1 {
  padding-bottom: 24px;
  padding-top: 32px;
}

.left span {
  padding-bottom: 32px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.square {
  display: flex;
  border: 2px dotted pink;
  align-items: center;
}

.square img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.info {
  display: block;
  width: 65%;
  align-items: center;
}
